<div class="col answers">
<h1>Results</h1>
  <div class="row mb-3 item"><h4>Your Question</h4></div>
  <div class="row mb-3 item"><%= @question %>
  </div>
  <div class="row mb-3 item"><h4>Your Answer</h4></div>
  <div class="row mb-3 item"><%= @answers %>
  </div>

  <div class="row mb-3 item"><%= link_to "Ask another question", questions_path %><br>
  </div>

</div>
