<div class="container">
  <form class="row form" action="/answers">
    <input class="input my-3 form-control-lg " type="text" name="question" placeholder="What's your question?"><br>
    <input class="submit my-3 btn-lg btn-primary" type="submit" value="Ask!">
  </form>
</div>
